.zigzag-block {
  padding: 80px 0;

  &__inner {
    display: grid;
    gap: 40px;
  }
  &__image {
    display: none;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 40px 0;
  }

  .row {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    &__icon {
      flex-shrink: 0;
    }
  }

  .link-arrow {
    color: $clr-azure-base;
    font-weight: 500;
    &::after {
      background-image: url(../../icons/arrowRight.svg);
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 12px;
      margin-left: 4px;
      transition: transform 0.2s ease-in-out;
      vertical-align: middle;
      width: 12px;
    }
    &:hover {
      &::after {
        transform: translateX(4px);
      }
    }
  }

  @include for-size($tablet-landscape-up) {
    padding: 120px 0;

    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
    &__image {
      display: block;
    }
    .column {
      &:first-child {
        padding-right: 110px;
      }
    }
  }
}
